/********* Big tablets to small laptops ****************/
@media only screen and (max-width:1200px){
    html,body{
        font-size: 14px;
        font-weight: 200;
    }
    .about-para{
        margin-bottom: 20px;
    }
    .section-heading,.testimonial-heading,.form-heading,.packages-heading{
        margin-top: 90px;
    }
    .big-icon{
        margin-bottom: 15px;
    }

}
/********* small tablets to larger tablets ****************/
@media only screen and (max-width:1023px){
    html,body{
        font-size: 12px;
    }
    .row{
        padding: 0 2%;
    }
    .about-box{
        margin-top: 60px;
    }
    .about-box:first-child{
        padding: 0;
        padding-left: 5%;
    }
    .laptop-img{
        padding-right: 5%;
    }
    .package-box{
        width: 100%;
    }
    .package-heading{
        margin-bottom: 25px;
    }
    footer{
        padding: 30px;
    }
    footer p{
        margin-top: 20px;
        line-height: 1.3;
    }
}
/********* larger phones to small tablets ****************/
@media only screen and (max-width:767px){
    html,body{
        font-size: 10px;
    }
    .section-heading,.testimonial-heading,.form-heading,.packages-heading{
        margin-top: 60px;
    }
    .about-heading{
        margin-bottom: 20px;
    }
    .section-heading,.testimonial-heading{
        margin-bottom: 10px;
    }
    .section-subheading::after{
        margin: 15px auto 0 auto;
    }
    .header-text-box{
        margin-bottom: 50px;
    }
}
/********* small phones to large phones ****************/
@media only screen and (max-width:480px){
    .laptop-img{
        padding: 0;
        margin: 0 auto;
    }
    .about-box:last-child,.about-box:first-child{
        text-align: center;
    }
    .span_1_of_4{
        width: 45%;
        margin-bottom: 20px;
    }
    .span_1_of_3{
        padding: 0 10%;
        margin-bottom: 5px;
    }
    .contact-form{
        width: 100%;
    }
    .form-label{
        padding-left: 0;
    }
    .footer-nav,.social-links{
        float: none;
        text-align: center;
        margin-bottom: 10px;
    }
    .work-portfolio li{
        width: 50%;
    }
}
